[Desktop Entry]
Name=Redis Insight
Comment=Redis GUI for viewing and managing data
Exec="{{ redis_insight.config.app_dir }}/redisinsight" --no-sandbox --disable-gpu %U
Icon=redisinsight
Terminal=false
Type=Application
Categories=Development;Database;
MimeType=x-scheme-handler/redis;
